/* Footer section styling */


.footer-section{
   background-color: whitesmoke;
   text-align: center;
   margin-top: 40px;
   padding-bottom: 20px;
}

.footer-icons{
  padding: 30px;
  color: black;
  

}

.fa-copyright{
  margin-right: 4px;
}

.footer-text{
  padding-bottom: 20px;
}